<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Criar funcionário</title>
</head>
<body><nav>
    <a href="{% url 'manage_employees:list_employees' %}">Home</a>
    <a href="{% url 'manage_employees:create_employees' %}">New Employee</a>
    <a href="{% url 'manage_employees:create_task' %}">New Task</a>
    <a href="{% url 'manage_employees:list_tasks' %}">Tasks</a>
</nav><br>
{% if employee %}
<h1>Atualizar Funcionário</h1>
{% else %}
<h1>Criar Funcionário</h1>
{% endif%}

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salvar</button>
    </form>

</body>
</html>