<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarefas dos Funcionários</title>
</head>
<body>
<nav>
    <a href="{% url 'manage_employees:list_employees' %}">Home</a>
    <a href="{% url 'manage_employees:create_employees' %}">New Employee</a>
    <a href="{% url 'manage_employees:create_task' %}">New Task</a>
    <a href="{% url 'manage_employees:list_tasks' %}">Tasks</a>
</nav><br>

{% if task %}
<h1>Atualizar Tarefa</h1>
{% else %}
<h1>Criar Tarefa</h1>
{% endif%}

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salvar</button>
    </form>

    {% if employee %}
        <a href="{% url 'manage_employees:create_task' employee.id %}">Delete</a>
    {% endif %}
</body>
</html>