<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud Employees</title>
</head>
<body>
    <ul>
        {% for employee in employees %}
            <a href="{% url 'update_employee' employee.id %}">
                <li> {{ employee.employee_name }}</li>
            </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_employees' %}">New employee</a>

</body>
</html>