<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <nav>
        <a href="{% url 'manage_employees:list_employees' %}">Home</a>
        <a href="{% url 'manage_employees:create_employees' %}">New Employee</a>
        <a href="{% url 'manage_employees:create_task' %}">New Task</a>
        <a href="{% url 'manage_employees:list_tasks' %}">Tasks</a>
    </nav><br>

<ul>
    {% for task in tasks %}
        <a>
            <li>
                {{ task.employees }}
            </li>
        </a>
        <a href="{% url 'manage_employees:update_task' task.id %}">
            <li> {{ task.tasks }}</li>
        </a>
    {% endfor %}
    </ul>

</body>
</html>